/* A tutti i tag*/
* {
	padding: 0em;
	margin: 0em;
}

/*
Passo 1
Definire il font
*/
html, body{ /*Il tag html va incluso per motivi di retrocompatibilita'*/
	font-family: Verdana, Arial, Helvetica, sans-serif;/*Definisco i vari font disponibili*/
	margin: auto;/*Imposto il calcolo del margin automatico*/
	border: 1px solid #ddd;/*Implementazione del bordino grigio a dx e sx*/
	background-color: 	#F5F5F5;
	overflow-x: hidden;
}


#contenuto {	
	max-width: 2048px;
	margin: auto;
}



/*
Passo 2
Procediamo con l'header
N.B. e'un header flessibile
*/

/*
===============
SEZIONE HEADER
===============
*/

#header{
	position: fixed;
	text-align: center;
	background-color: orange;
	width: 100%;
	font-size: 0.8em;
	z-index: 2;
	top: 0;
}

#logo{
	float: left;/*Posiziona il logo a sinistra*/
	margin-left: 2em;
	margin-right: 1em;
	height: 3em;
	width: 10em;
	padding-top:0.2em;
}

#header h1{/*Indica tutti gli h1 contenuti nei div con id "header"*/
	color: white;
	font-size: 1.3em;/*N.B. tutte le dimensioni dei font vanno espresse in em per una questione di adattabilita*/
	float: left;
}

#header a{/*Indica tutti gli h1 contenuti nei div con id "header"*/
	text-decoration: none;
}
#header a:link{
	color: white;/*Colore per i link non visitati*/
}

#header a:visited{
	color: white;/*Colore per i link visitati*/
	/*N.B. e'stato scelto un rosso che faccia contrasto sufficiente con i link non visitati*/
}

#header p{
	font-size: 1.3em;
}

#login{
	float: right;
	color: white;
	font-size: 1.5em;
	margin-right: 2em;
	padding-top:0.5em;
}

/* ###########STILE PER MENU######################### */
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.30em;
}
nav a:hover {
	background:#ec730f;
}
nav a:active {
	position: relative;
	top: 1px;
}
.menu a {
	padding-top:0.6em;
	padding-bottom:0.9em;
	color: rgb(0,0,0);/* colore scritte menu*/
	font-weight: 1em;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.space{
margin-left:0.8em;
}

/* ###########CONTENITORI PER MENU################## */
#contentM{
	position: relative;
	float:left;
	margin-left:2em;
	
}
#menu{
	text-align:center;
	font-size: 1em;
	font-weight: bold; 
	overflow: hidden;
	background-color: orange;
	width: 100%;
}
/* ################################################# */
/* ################################################# */

/*=========
VETRINA HOME
==========*/

#vetrina {
    background: url(../img/indexBg.jpg) no-repeat;
    background-size: 100% 100%;
    height: 60%;
	float: left;
	width: 100%;
}

#boxImgUsrLog {
	width: 17em;
	float: left;
	padding-bottom: 1em;
}

#imgUsrLog {
	max-width: 2em;
	float: left;
	height: 7em;
	margin-top: 5em;
	margin-bottom: 5em;
}

#boxImgVetrina {
	float: left;
	margin: 5em;
	margin-right: 1em;
	margin-left: 10em;
}

#boxPricipalImg {
	height: 27em;
	width: 47em;
}
	
	
/*============
ARTICOLO
=============*/

#boxTitolo{
	font-size: 1.5em;
	color: black;
	padding-left: 1.3em;
	margin-bottom: 1em;
	width: inherit;
}

#boxMore{
	float: right;
	color: grey;
	font-size: 0.8em;
	font-weight: bold;
	margin-right:1em;
}


#boxOrdineArt{
	padding-top: 1em;
	border-bottom: 1px solid #ddd;
	padding-bottom: 3em;
	float:left;
}
#boxOrdineArtPagine{
	float: left;
	margin-top: 6em;
	margin-left: 4em;
	min-width: 90%;
	max-width: 92%;
	border-bottom: 1px solid #ddd;
	padding-bottom: 3em;
}

#boxArticolo{
	margin-top: 0.2em;
	margin-left: 2em;
	margin-bottom: 2em;
	margin-right: 1em;
	width: 13.8em;
	float:left;
}

#boxArticoloPagine{
	margin-top: 2em;
	margin-left: 2em;
	float: left;
	height: 20%;
	width: 13em;
	height: 23em;
	background-color: white;
	border: 0.5px solid #ddd;
}

#imgDimensione{
	width: 13em;
	height: 20em;
}

#titolo{
	font-size: 1em;
	font-weight: bold;
}

#autore {
	font-size: 0.8em;
	color: grey;
}



/*=======================
TITOLI
========================*/

#titoloPagina{
	position: fixed;
	font-size: 1.3em;
	font-weight: bold;
	color: orange;
	text-align: left;
	border-bottom: 1.5px solid orange;
	margin-top: 0.2em;
	padding-left: 2em;
	padding-bottom: 0.2em;
	width: 100%;
	background-color: white;
	height: 1em;
}
	
	
/*=======
FOOTER
========*/

#footer{
	border-top: 1px solid #ddd;/*Aggiungo l'ultimo bordino*/
	font-style: italic;
	float: left;
	width: 100%;
}

#imgValidCSS{
	float: right;
	display: inline-block;
}

#imgValidCode{
	float: left;
	display: inline-block;
}

#footer img{
	margin-left: 1.0em;
	margin-right: 1.0em;
	margin-bottom: 0.8em;
}

#footer p{
	text-align: center;
	font-size: 0.8em;
}

/*=========
ABOUT US
==========*/

#sfondo{
    width: 100%;
    height: 100%;
	top: -5em;
}

 #content{
    background: #fff;
    text-align: left;
	width: 70em;
	margin: auto;
	margin-top: -8em;
	margin-bottom: 2em;
	padding: 3em;
	position: relative;
	font-family: 'Arial Normal', 'Arial';
    font-weight: 1em;
    font-style: normal;
 }
 
 #top{
    width: 100%;
    height: 30em;
 }
 
 #content h2{
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
 }
 
 
 /*=======
PAGINE ARTICOLO
========*/
#capitoli{
	margin-top:1em;
	height:3em;
}
.boxCapitoli{
	max-width: inherit; margin-top:30px; background:#ffffff; padding-top:1px;
}
.capitoli{
	position: relative; margin-bottom: 10px; 
}
.allcap{
width:980px; min-height:40px; float:right;position: relative;padding-right:30px; padding-top:8px; 
}
.bottonecapspento{
border:2px solid #eeeeee; color:#dddddd; font-weight: bold ;
}
#allcap{
    float: left;
    padding-right: 30px;
    padding-top: 3.5px;
	width: 980px;
}
#boxcapitoli{
width:100%;
float:left;
}
#bottonecapacceso{
	float:left;
	margin-left:1em;
	width:4em;
	background: #f89b33;
	color: #fff;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: bold 1em Arial, Helvetica, sans-serif;
	border: solid 1px #f89b33;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
#bottonecapspento{
	border: 2px solid #eeeeee;
    color: #dddddd;
    font-weight: bold;
}
#boxInfo{
	width: 70em;
    height: 21em;
	margin: auto;
    margin-top: 4em;
    background: #ffffff;
    padding: 2em;
}

#boxInfo h2{
	font-size: 1.5em;
	float: left;
}

#tr{
	margin-bottom: 5em;
}

#imgArt{
	height: inherit;
	width: 20%;
	float: left;
	margin-right: 1.5em;
}


#boxInfo h3{
	color: grey;
	font-weight: bold;
	font-size: 1em;
}

#boxDescriz{
	margin: 1em;
	margin-top: 0;
}

#boxTable{
	font-size: 0.8em;
	width: 60%;
	float: left;
	border-spacing: 0.5em;
}

#boxCapitoli{
	max-width: inherit;
	margin:auto;
	width: 88em;
    margin-top: 5em;
	margin-bottom: 5em;
    background: #ffffff;
	padding: 2em;
    padding-top: 1em;
	height: 30em;
	font-size: 0.8em;
}

#boxCap{
	float: left;
    width: 15em;
    height: 2.5em;
    border-bottom: 1px solid #ebe9e9;
    padding-top: 2em;
}

#headerCap{
	float:left;
	font-size: 1.5em;
	font-weight: bold;
	width:5em;
}

#boxBtn{
	float: left;
	margin-right: 5em;
	margin-top: 1em;
	margin-left: 1em;
}

#pulsante {
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: bold 1em Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 1em 2em;
	border: solid 1px #0076a3;
	margin-right: 2em;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -webkit-linear-gradient(top,  #00adee,  #0078a5);
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	background: -ms-linear-gradient(top,  #00adee,  #0078a5);
	background: -o-linear-gradient(top,  #00adee,  #0078a5);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#pulsante:hover {
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -webkit-linear-gradient(top,  #0078a5,  #00adee);
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	background: -ms-linear-gradient(top,  #0078a5,  #00adee);
	background: -o-linear-gradient(top,  #0078a5,  #00adee);
	background: linear-gradient(top,  #0078a5,  #00adee);
}

#pulsante:active {
  position: relative;
  top: 1px;
}
 
/* ################################################# */
/* ################LOG IN########################### */
#intestazione{
    border-bottom: 1px solid #f3f2f0;
    width: 31.375em;
	margin-top: 2em;
    margin-left: 2.5em;
}
.close{
	display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../img/close3.png);
    background-size: 40px 40px;
    margin-left: 535px;
    margin-top: -40px;
    cursor: pointer;
}
.title{
    font-size: 1.875em;
    color: #6B6B6B;
    text-align: left;
    margin: 0px auto;
}
.title2{
	font-size:24px;
    height: 3.125em;
    text-align: left;
    margin: 0px auto;
}
.face{
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    width: 31.375em;
    height: 3.125em;
    text-align: center;
    background: url(../img/face.png) #2c5795;
    line-height: 3.125em;
    margin: 0 auto;
    border-radius: 0.313em;
}
#extlog{
	width:40em;
	height:36em;
	position:absolute;
	background-color:#FFFF;
	margin-top:5em;
	margin-left:23em;
	display:block;
}
#boxform{
	margin:2em 2.5em 0;
	height:19em;
}
.input{
	margin-top: 1.563em;
    width: 34.375em;
    height: 3.125em;
    border: 1px solid #cbc7c2;
    border-radius: 0.313em;
    font-size: 1em;
    color: #333333;
    padding-left: 0.625em;
}
.submit{
	margin-top: 1.6em;
    width: 34.375em;
    height: 3.125em;
    background: rgba(117, 165, 181, 0.72);
    color: #fff;
    font-size: 1em;
    text-align: center;
    line-height: 3.125em;
    border-radius: 0.313em;
}
#tre{
    font-size: 1em;
    width: 34.375em;
    text-align: center;
	margin-left:2.5em
}
.last{
    display: inline-block;
}
.blue{
	display: inline-block;
    color: #49BCEA;
    cursor: pointer;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    min-width: 1280px;
    z-index: 3;
	display: block; 
	height: 300%;
}

	
/* ################################################# */
