body{
	background-color: #F5F5F5;
}
ul{
	list-style-type:none;
	list-style-image:url("");
}
li{
	color:#0090CC;
}
.inputform{
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border-radius:4px;
	height:35px;
	width:210px;
	padding-left:8px;
	outline-color:red;
}
.inputform:focus{
	border:1px solid red;
}
.submitform{
	background:linear-gradient(to bottom, #0088CC, #0044CC);
	border:0px;
	border-radius:4px;
	height:30px;
	width:75px;
	margin-top:20px;
	color:white;
}
.submitform:hover{
	background:linear-gradient(to bottom, #0090CC, #0066CC);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color:orange;
}
#firstinput{
	margin-bottom:5px;
}
#secondinput{
	margin-top:5px;
}
#login{
	background:white;
	color:#555555;
	width:500px;
	border-radius:8px;
	margin:0 auto;
	margin-top:20px;
	height:450px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	text-align:center;
	
}
.logo{
	margin:0 auto;
	margin-bottom:15px;
	padding-top:7px;
	padding-bottom:10px;
	border-bottom:3px solid #C0C0C0;
	width:80%;
}
.loginForm{
	height:100%;
	width:100%;

}
.ridimensiona{
	padding-top:60px;
}